

img {
    display: block;
    border: none;
}

ul, li {
    list-style: none;
}

.lubo {
    width: 1200px;
    min-width: 1200px;
    clear: both;
    position: relative;
    height: 100%;
}

.lubo_box {
    position: relative;
    width: 100%;
    height: 100%;
}

.lubo_box li {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}

.lubo_box li a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.lubo_box li img {
    width: 100%;
    height: 100%;
}

/*圆点*/
.cir_box {
    overflow: hidden;
    position: absolute;
    z-index: 100;
}

.cir_box li {
    float: left;
    width: 30px;
    height: 5px;
    margin: 0 5px;
    cursor: pointer;
    background: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.cir_on {
    background: #000 !important;
}

/*按钮*/
.lubo_btn {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.left_btn, .right_btn {
    width: 30px;
    height: 80px;
    background: #666;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
    color: #fff;
    line-height: 80px;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.left_btn {
    float: left;
}

.right_btn {
    float: right;
}