body {
    margin: 0;
    padding: 0;
}

.banner {
    /*height: 565px;*/
    height: 88vh;
    width: 100%;
    background: #e5e5e5;
}

.bignav {
    margin: auto;
    width: 1200px;
    min-width: 1200px;
    /*height: 12vh;*/
    height: 70px;
    background: #fff;
    border-bottom: 2px solid #D0A680;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.nav {
    /*height: 67px;*/
    height: 12vh;
    line-height: 12vh;
    margin-right: 70px;
}

.nav a {
    display: block;
    width: 150px;
    float: left;
    color: #666;
    text-decoration: none;
    text-align: center;
    /*line-height: 100px;*/
    line-height: 12vh;
    font-size: 28px;
}
.nav a:hover{
    color: #D0A680;
}
.nav a.active{
    color: #D0A680;
}